extends layout
block head
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
block content
    body
        .login
            if(user.isAdmin)
                h7 Welcome Admin #{user.first_name} #{user.family_name}
                br
                br
                //h7 #{user.first_name} #{user.family_name}
            else
                h7 Welcome visitor #{user.first_name} #{user.family_name}
                //h7 #{user.first_name} #{user.family_name}
            h0 This is your dashboard
            if(user.isAdmin)
                h0
                    br
                    .button
                        a.c(href='/upload') Upload Files
                        br
                        a.c(href='/link/uploadLink') Upload Links
                        br
                        a.c(href='/users/mymessages') Check messages
            else
                h0
                    br
                    .button
                        a.c(href='/music') View Music Sheets
                        br
                        a.c(href='/projects') View author's projects
                        br
                        a.c(href='/messages') Contact author
                        br
                        a.c(href='/users/logout') Log out
            if (message)
                if (error.length > 0)
                    div.alert.alert-danger #{error}
            if (errorMessage)
                div.aldoctype html