extends layout
block head
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
block content
    .black
    .white
        .login
            if(user.isAdmin)
                h2 Welcome Admin
                h2 #{user.first_name} #{user.family_name}
            else
                h2 Welcome visitor
                h2 #{user.first_name} #{user.family_name}
            h2 This is your dashboard
            if(user.isAdmin)
                br
                h2 Upload any files here
                    br
                    a(href='/upload') Upload
            if (message)
                if (error.length > 0)
                    div.alert.alert-danger #{error}
            if (errorMessage)
                div.aldoctype html
        .button