extends header
block head
    link(rel='stylesheet', href='/stylesheets/mymessage.css')
block content
    br
    br
    br
    br
    br
    myheader
        h1 My Message


    if(messages)
        each message in messages
            .message-wrapper
                span.name #{message.first_name} #{message.family}
                span.message  #{message.message}
                span
                    del-button.btn(type="submit") delete
                span
                    button(onclick='myFunction()') View More
            #detail-message
                .details
                    p Email Address: #{message.email}
                .details
                    p Phone Number: #{message.phoneNumber}
                .details
                    p Date of message sent: #{message.date}
                .details
                    p Message: #{message.message}


    if(msg===0)
        .message-wrapper
            span.message There is currently no message.
    script.
        function myFunction() {
            var x = document.getElementById("detail-message");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        //form(method = 'POST' action = message._id + '?_method=DELETE')
            //button.btn(type="submit") Delete