doctype html
html
    head
        title= "Register"
        link(rel='stylesheet', href='/stylesheets/register.css')
    body
        left-box-align

            h1
                i
                | Register
            form(action='/users/register', method='POST')
                if (errorMessage)
                    .alert.alert-danger #{errorMessage}
                .form-group
                    label(for='first_name') First Name
                    input#first_name.form-control(type='name1', name='first_name', value=first_name, placeholder='Enter First Name')
                .form-group
                    label(for='family_name') Family Name
                    input#family_name.form-control(type='name2', name='family_name', value=family_name, placeholder='Enter Family Name')
                .form-group
                    label(for='email') Email
                    input#email.form-control(type='email', name='email', value=email, placeholder='Enter Email')
                .form-group
                    label(for='password') Password
                    input#password.form-control(type='password1', name='password', value=password, placeholder='Password must be at least 6 characters')
                .form-group
                    label(for='password2') Confirm Password
                    input#password2.form-control(type='password2', name='password2', value=password2,  placeholder='Confirm Password')
                button.btn.btn-primary(type='submit') Register
                p
                | Have An Account?
                a(href='/users/login') Login
                br
                a(href='/') Return to homepage
